<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeuroVoice</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: #1E1E1E;
            margin: 2rem;
            color: #FFF;
            font-family: 'Open Sans', 'Arial', sans-serif;
        }

        h1 {
            text-align: center;
            align-self: center;
        }

        a {
            color: #fff;
        }
    </style>
</head>
<body>
    <h1>NeuroVoice</h1>
    <a href="/text"><button>Text Input</button></a></body><br>
    <a href="/upload"><button>Upload Audio</button></a><br>
    <a href="/record"><button>Record in Real Time</button></a><br><br>

    <h2>Credits:</h2>
    <p>Created by: Mackinley Hill, Xavier Preston, Dominique Paige, Anthony Williams</p>
    <p>Technologies used: OpenAI Whisper, HuggingFace, FFMPEG, Django, Electron</p>
    <a href="https://github.com/rinkana1/cosc490-group1" target="_blank">Github Repository</a>
</body>
</html>