<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeuroVoice</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: #1E1E1E;
            margin: 2rem;
            color: #FFF;
            font-family: 'Open Sans', 'Arial', sans-serif;
        }

        h1 {
            text-align: center;
            align-self: center;
        }
    </style>
</head>
<body>
    <a href="/upload">Upload Audio</a><br>
    <a href="/record">Record in Real Time</a><br>
    <a href="/text">Text Input</a>
</body>
</html>